@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;0,700;0,800;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.5px;
  line-height: 1.5;
}

img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}
body {
  height: 100vh;
}
.container-recipes {
  overflow: scroll;
  gap: 2rem;
  display: grid;
  margin: 0 auto;
  max-width: 1200px;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;
  padding: 1em;
  grid-template-columns: repeat(10, minmax(270px, 1fr));
}
.container-recipes::-webkit-scrollbar {
  width: 0.5em;
  border-radius: 8px;
}

.container-recipes::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.container-recipes::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 8px;
}
.container-recipes > * {
  position: relative;
  overflow: hidden;
}
.container-recipes h3 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  font-size: 1rem;
  color: white;
  z-index: 8;
  font-weight: bold;
  margin-left: 1em;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
header {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.tabs {
  display: flex;
  justify-content: center;
  gap: 1em;
  list-style: none;
}
.tabs svg {
  font-size: 2rem;
  background-color: azure;
  border-radius: 50%;
}
input {
  padding: 10px;
  border-radius: 6px;
}
.grid-items {
  overflow: visible;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.grid-items > * {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  padding: 0;
}
.grid-items div h3 {
  transform-origin: left;
  transform: translateX(-100%);
  opacity: 0;
}
.grid-items div:hover h3 {
  transform-origin: right;
  transition: 0.4s;
  transform: translateX(0%);
  opacity: 1;
  position: absolute;
  background-color: rgb(0 0 0/0.3);
  width: 100%;
  overflow: hidden;
}
